$backgroundColor: rgb(16, 20, 33);

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.center {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.basic--box {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 6px;
  font-size: 12px;
  transition: all 0.3s ease-out 0s;
  flex-shrink: 0;
  min-height: 40px;
  color: rgb(207, 207, 207);
  cursor: pointer;
  width: 60px;
  height: 32px;
  background: transparent;
}

.Layout__item {
  position: relative;
  flex-shrink: 0;
  height: 14px;
  width: 14px;
}

.first {
  margin-right: -2px;
}

// 이상하다
body .padding__top {
  padding: 20px;
}

.MainLayout__Wrapper {
  // display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  background: $backgroundColor;
  padding: 40px 0px;

  .MainLayout__MenuContainer {
    width: 240px;
    display: flex;
    position: sticky;
    top: 40px;
    margin-right: 80px;
    height: fit-content;
    // test
    display: none;

    .MainLayout__MenuSection {
      background: rgb(25, 31, 44);
      border: 1px solid rgba(207, 207, 207, 0.125);
      // rbg (0 0 0 / 2%) 왜 안될까
      box-shadow: -1px 1px 6px rgb(0, 0, 0);
      border-radius: 12px;
      width: 100%;
      margin-bottom: 16px;
      overflow: hidden;

      .MainLayout__MenuRow {
        display: flex;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        padding: 16px;
        cursor: pointer;
        border-left: 4px solid transparent;

        &.--selected {
          display: flex;
          flex-direction: row;
          -webkit-box-align: center;
          align-items: center;
          padding: 16px;
          cursor: pointer;
          border-left: 3px solid rgb(207, 207, 207);
          background: rgba(39, 43, 56, 0.565);
          color: rgb(207, 207, 207);
          font-weight: bold;
        }
      }
    }
  }
}

.Layout__SCol {
  display: flex;
  flex-direction: column;
}

.MainLayout__Main {
  max-width: 510px;

  .Layout__Title {
    display: flex;
    background: rgb(25, 31, 44);
    border: 1px solid rgba(207, 207, 207, 0.125);
    box-shadow: rgb(0, 0, 0) -1px 1px 6px;
    z-index: -1;
    border-radius: 16px;
    margin-bottom: 16px;
    padding: 0px;
    // 억지로 넣은 부분
    flex-direction: column;

    .Layout__Title--Menu {
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      justify-content: space-between;
      padding: 12px 4px 4px;

      .Airplane__Button {
        .Airplane__Box {
          position: relative;
          flex-shrink: 0;
          height: 20px;
          width: 20px;
        }
        .Layout__Center--Box {
          fill: rgb(207, 207, 207);
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;

          svg {
            transition: all 0.3s ease 0s;
            width: 100%;
            height: 100%;
            fill: rgb(207, 207, 207);
          }
        }
      }

      .Corona__Title {
        fill: rgb(255, 255, 255);
        height: 26px;
        width: 110px;
        transform: translate(2px, -2px);

        svg {
          transition: all 0.2s ease-out 0s;
          width: 100%;
          height: 100%;
          fill: rgb(255, 255, 255);
        }
      }

      .Hamburger__Button {
        .Hamburger__Box {
          position: relative;
          flex-shrink: 0;
          height: 20px;
          width: 20px;
        }
        .Layout__Center--Box {
          fill: rgb(207, 207, 207);
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;

          svg {
            transition: all 0.3s ease 0s;
            width: 100%;
            height: 100%;
            fill: rgb(207, 207, 207);
          }
        }
      }
    }
  }

  .Layout__Title--Tab {
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    padding-right: 12px;

    .Tab__Menu--Box {
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;

      .Tab__Menu {
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        font-size: 14px;
        border-radius: 6px;
        flex: 1 1 0%;
        cursor: pointer;
        position: relative;
        color: rgb(207, 207, 207);
        font-weight: bold;
        padding: 6px 0px 10px;

        &::before {
          content: '';
          width: 24px;
          height: 2px;
          background: rgb(207, 207, 207);
          position: absolute;
          bottom: 0px;
          left: calc(50% + 8px);
          transform: translateX(-50%);
        }

        .Tab__svg {
          svg {
            fill: rgb(207, 207, 207);
            transition: all 0.2s ease-out 0s;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .Tab__Flex {
      flex: 1 1 0%;
    }
  }

  .Tab__Animation {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
    animation-delay: 200ms;
  }
}

.Section__All__Person {
  background: rgb(25, 31, 44);
  border: 1px solid rgba(207, 207, 207, 0.125);
  box-shadow: rgb(0, 0, 0) -1px 1px 6px;
  z-index: -1;
  padding: 12px;
  border-radius: 16px;
  margin-bottom: 16px;

  .Person__Type__List {
    margin: 0px 10px;
    padding: 6px 8px;
    border-radius: 12px;
    -webkit-box-pack: justify;
    justify-content: space-between;

    .Person__Type__Box {
      div {
        text-align: center;
      }
      .Person__Type {
        font-size: 12px;
        opacity: 0.7;
        margin-bottom: 0px;
      }
      .Person__Number {
        font-size: 18px;
        font-weight: bold;
        opacity: 1;
        margin-bottom: 4px;
        color: rgb(235, 83, 116);
      }
      .Person__Change {
        font-size: 11.5px;
        border-radius: 50px;
        opacity: 0.8;
        -webkit-box-align: center;
        align-items: center;
        padding: 0px 6px 0px 8px;
        font-weight: bold;
        color: rgb(235, 83, 116);
        background: rgba(235, 83, 116, 0.082);
      }
    }
  }
}

.section__stretch {
  width: 100%;
  justify-content: stretch;
}

.section__animation {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

.section__spacebetween {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.Section__Today {
  z-index: -1;
  border-radius: 16px;
  margin-bottom: 16px;
  background: transparent;
  border: transparent;
  padding: 0px;
  box-shadow: none;

  .Section__Today__Box {
    background: rgba(25, 31, 44, 0.5);
    border: 1px solid rgba(207, 207, 207, 0.125);
    box-shadow: rgb(0, 0, 0) -1px 1px 20px;
    border-radius: 18px;
    z-index: 1;

    .Section__Today__Upper {
      flex: 1 1 0%;
      background: rgb(25, 31, 44);
      padding: 12px 0px;
      box-shadow: rgb(0, 0, 0) -1px 1px 20px;
      border: 1px solid rgba(207, 207, 207, 0.125);
      border-radius: 18px;
      -webkit-box-pack: justify;
      // justify-content: space-between;
      justify-content: space-around;
      -webkit-box-align: center;
      align-items: center;
      z-index: 2;

      .Today__Left {
        margin: 0px 4px;

        .Today__Left__Text {
          font-size: 10px;
          opacity: 0.7;
        }

        .Today__Left__Number__Box {
          -webkit-box-align: center;
          align-items: center;

          .Today__Left__Number {
            font-size: 28px;
            font-weight: bold;
            color: rgb(207, 207, 207);

            span {
              font-weight: 300;
            }
          }
        }
      }

      .Today__Right {
        .Today__Right__Item {
          margin: 4px 0px;
          -webkit-box-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          align-items: center;

          .Today__Right__Item__Text {
            font-size: 12px;
            opacity: 0.8;
            transform: translate(0px, -2px);

            &::before {
              content: 'vs';
              margin-right: 4px;
              opacity: 0.7;
            }
          }
          .Today__Right__Item__Number {
            padding-bottom: 2px;
          }
        }
      }
    }

    .Section__Today__Bottom {
      .Today__Bottom__Box {
        flex: 1 1 0%;
        position: relative;
        .Today__Bottom__Rolling__Box {
          -webkit-box-pack: end;
          justify-content: flex-end;
          -webkit-box-align: center;
          align-items: center;
          position: relative;
          cursor: pointer;
          padding: 0px 40px;
          border-top: none;
          box-shadow: none;
          margin: 4px;
          box-sizing: border-box;
          min-height: 44px;
          width: initial;
          background: transparent;
          flex: 1 1 0%;
          border-radius: 10px;

          .Today__Bottom__Rolling {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            -webkit-box-align: center;
            align-items: center;
            padding: 0px 14px;
            box-sizing: border-box;

            .rolling--box {
              flex: 1 1 0%;
              flex-wrap: wrap;

              .rolling--info {
              }

              .rolling--arrow {
              }
            }
          }
        }
      }
    }
  }
}

@mixin Container() {
  background: rgb(25, 31, 44);
  border: 1px solid rgba(207, 207, 207, 0.125);
  box-shadow: rgb(0, 0, 0) -1px 1px 6px;
  z-index: -1;
  padding: 12px;
  border-radius: 16px;
  margin-bottom: 16px;
}

.Section__Chart {
  @include Container();
  .Chart__Box {
    margin-bottom: 6px;
    position: relative;
  }
}

// Data

.changed--number {
  color: rgb(86, 115, 235);
  opacity: 0.9;
  border-radius: 50px;
  -webkit-box-align: center;
  align-items: center;
  font-size: 11px;
  stroke-width: 4px;
  margin-left: 4px;
  padding: 0px 6px 0px 8px;
  font-weight: 600;
}

.space {
  width: 1px;
}

// arrow

.Arrow__Box {
  position: relative;
  flex-shrink: 0;
  height: 12px;
  width: 12px;

  .arrow--upper {
  }

  .arrow--bottom {
    margin: 0px;
    transform: rotate(-90deg);
    svg {
      stroke: rgb(86, 115, 235);
      stroke-width: 2.5px;
      transition: all 0.2s ease-out 0s;
      width: 100%;
      height: 100%;
    }
  }
}

.number--background {
  background: rgba(86, 115, 235, 0.082);
  color: rgb(86, 115, 235);
}

.Section__Add__Chart {
  @include Container();

  .Add__Chart__Box {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: fit-content;
    border-radius: 50px;
    margin: 0px auto 2px;
    padding: 10px 24px 10px 18px;
    background: rgba(25, 31, 44, 0.8);
    font-size: 14px;
    border: none;
    cursor: pointer;

    .plus--button {
      position: relative;
      flex-shrink: 0;
      height: 12px;
      width: 12px;

      svg {
        transition: all 0.2s ease-out 0s;
        width: 100%;
        height: 100%;
        fill: rgb(207, 207, 207);
      }
    }
    strong {
      font-weight: bold;
      margin-right: 2px;
    }
  }
}

.Section__Map {
  @include Container();
  .map--margin {
    margin-top: 12px;
  }

  .Map__Upper {
    padding: 0px 12px;
    .Upper__Menu__Box {
      border-radius: 12px;
      z-index: 1;
      background: rgb(39, 43, 56);
      border: none;
      width: 100%;
    }
  }
}
