<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/util.css">
  <link rel="stylesheet" href="css/main.css">
  <title>Document</title>
</head>

<body>
  https://m.stock.naver.com/sise/siseIndex.nhn?code=KOSPI
  <div class="entirety">
    <header>
      <div>N 증권</div>
      <div> &nbsp;&nbsp;국내증시</div>
      <div>돋보기</div>
      <div>MY</div>
    </header>

    <section class="title">
      <div class="title__info">
        <div class="title__info--code">
          KOSPI
        </div>
        <div class="title__info--name">
          코스피
        </div>
        <div class="title__info--price">
          3,045.71
        </div>
        <div class="title__info--gap">
          <span>
            <span>▼</span>
            <span>8.68</span>
          </span>
          <span>
            <span>-0.28</span>
            <span>%</span>
          </span>
        </div>
      </div>

      <div class="title__line_chart">
        차트
      </div>
    </section>

    <section></section>
    <section></section>


    <section class="box_chart">
      <div>
        <ul class="box_chart__term">
          <li><button>일봉</button></li>
          <li><button>주봉</button></li>
          <li><button>월봉</button></li>
        </ul>
      </div>
      <div class="box_chart__chart">
        차트
      </div>
    </section>


    <section>
      <h3>일별시세</h3>
      <table class="table">
        <thead>
          <tr class="table__head">
            <th>날짜</th>
            <th>종가</th>
            <th>전일대비</th>
            <th>등락률</th>
            <th>시가</th>
            <th>고가</th>
            <th>저가</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>asd</td>
            <td>asd</td>
            <td>asd</td>
            <td>asd</td>
            <td>asd</td>
            <td>asd</td>
            <td>asd</td>
          </tr>
        </tbody>
      </table>
    </section>


  </div>
</body>

<script src="main_bundle.js"></script>

</html>