<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/util.css">
  <link rel="stylesheet" href="css/main.css">
  <title>Document</title>
</head>

<body>
  https://m.stock.naver.com/sise/siseIndex.nhn?code=KOSPI
  <br>
  035720- 카카오종목코드
  <br>
  035420- 네이버종목코드
  <div class="entirety">
    <header>
      <div>N 증권</div>
      <div> &nbsp;&nbsp;국내증시</div>
      <div>
        <input class="receive_input" type="text" placeholder="종목코드 입력" value="035720">
        <button class="receive_button">
          이동
        </button>
      </div>
      <div>MY</div>
    </header>

    <section class="title">
      <div class="title__info">
        <div class="title__info--code">
          종목을
        </div>
        <div class="title__info--name">
          입력해
        </div>
        <div class="title__info--price">
          주세요
        </div>
        <div class="title__info--gap">
        </div>
      </div>

      <div class="title__line_chart">
        차트
      </div>
    </section>

    <section></section>
    <section></section>


    <section class="box_chart">
      <div>
        <ul class="box_chart__term">
          <li><button>일봉</button></li>
          <li><button>주봉</button></li>
          <li><button>월봉</button></li>
        </ul>
      </div>
      <div class="box_chart__chart">
        차트
      </div>
    </section>


    <section class="daily_price">
      <h2>일별시세</h2>
      <table class="table">
        <thead>
          <tr class="table__head">
            <th>날짜</th>
            <th>종가</th>
            <th>전일비</th>
            <th>거래량</th>
          </tr>
        </thead>
        <tbody class="table__body"> </tbody>
      </table>
    </section>


  </div>
</body>

<script src="main_bundle.js"></script>

</html>