<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/reset.css' />
  <link rel='stylesheet' href='/stylesheets/nomalize.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
</head>

<body>
  <header>
    <div class="header__title">
      Front End Dev Road-map
    </div>
    <div class="header__detail">

      <ul>
        <li><strong class="rocom_toggle"><i class="fas fa-check"></i></strong>개인적인 추천 / 의견</li>
        <li><strong class="alter_toggle"><i class="fas fa-check"></i></strong>보라색 체크에 대체 가능한 옵션</li>
        <li><strong class="whenever_toggle"><i class="fas fa-check"></i></strong>언제든 배우세요 </li>
        <li><strong class="nonrocom_toggle"></strong>추천하지 않습니다 </li>
      </ul>

      <div>
        이 로드맵의 상세 설명 및 출처
        <div><a href="http://roadmap.sh">http://roadmap.sh</a></div>
      </div>
    </div>
    <div class="trigle back2"></div>
  </header>
  <section class="test">
    <div class="trigle back1"></div>
  </section>
</body>

</html>