@import header.sass

section
    position: relative
    width: 100%

.test
    background-color: #a3ddcb
    height: 15rem

.back1
    color: #a3ddcb

.back2
    color: #333
.rocom_toggle
    font-size: 0.8rem
    width: 1.4rem
    height: 1.4rem
    border-radius: 50%
    background-color: #93329e
    display: flex
    align-items: center
    justify-content: center

.alter_toggle
    font-size: 0.8rem
    width: 1.4rem
    height: 1.4rem
    border-radius: 50%
    background-color: #0fb467
    display: flex
    align-items: center
    justify-content: center
.whenever_toggle
    font-size: 0.8rem
    width: 1.4rem
    height: 1.4rem
    border-radius: 50%
    background-color: #3434
    display: flex
    align-items: center
    justify-content: center
    border: 1px white solid

.nonrocom_toggle
    width: 1.6rem
    height: 1.6rem
    border-radius: 50%
    border: 1px white solid
    background-color: #3434
