header {
  position: relative;
  padding: 3rem 2rem 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  background-color: #333; }

.header__title {
  text-align: center;
  font-size: 3.5rem;
  padding-left: 2rem;
  color: wheat; }

.header__detail {
  color: white;
  display: flex;
  flex-direction: column; }
  .header__detail div {
    border: 0.1rem solid;
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .header__detail div div {
      border: 0.1rem solid;
      padding: 0.5rem;
      border-radius: 0.6rem;
      width: fit-content;
      margin-top: 0.5rem; }
  .header__detail ul {
    border: 0.1rem solid;
    margin-bottom: 1.2rem;
    padding: 1rem 1.5rem;
    border-radius: 1rem; }
    .header__detail ul li {
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center; }
      .header__detail ul li strong {
        margin-right: 0.5rem; }

.trigle {
  bottom: -5rem;
  height: 0;
  border-left: 9em solid transparent;
  border-right: 10rem solid transparent;
  border-top: 5rem solid currentColor;
  position: absolute;
  left: 0;
  z-index: 10; }

.line {
  position: absolute;
  top: 5rem;
  z-index: 100; }
