<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Daisy Metro</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <main>
      <article class="board-wrap">
        <nav class="board-wrap__nav">
          <ul class="board-wrap__nav__list">
            <li class="board-wrap__nav__state">역 내 상황 | 혼잡</li>
            <li class="board-wrap__nav__logo">Daisy Metro</li>
            <li class="board-wrap__nav__passenger">현재 탑승인원 0명</li>
          </ul>
        </nav>
      </article>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/javascripts/main.js"></script>
  </body>
</html>
