<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chat</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src='/socket.io/socket.io.js'></script>
</head>

<body>
	<center id="head">
		<div id="background" autocomplete=off>
			<div class="chat_box">
				<div>
					<div class="title">Pengdori Chat World</div>
					<div class="version">ver 1.0.1</div>
				</div>
				<div class="textarea_box">
					<div class="form-control chatLog"></div>
				</div>
				<form id="chat" class="chat" autocomplete=off>
					<input type="text" id="name" class="form-contorl">
					<input type="text" id="message" class="form-contorl">
					<button class="btn btn-primary" type="submit">전송</button>
				</form>
			</div>
		</div>
	</center>
	<script src="/javascripts/socket_io.js" type="module"></script>
</body>

</html>