<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <%- include('./partial/vendors.html') %> 
    </head>
    <body class="todo">
        <%- include('./partial/todo/nav.html') %>
        <%- include('./partial/todo/header.html') %>
        <%- include('./partial/todo/content.html') %>        
        <%- include('./partial/todo/imageitem.html') %>
        <%- include('./partial/todo/content.html') %>   
        <%- include('./partial/todo/footer.html') %>        
    </body>
</html>
