$line-colors: (
  #0d3692,
  #33a23d,
  #fe5b10,
  #32a1c8,
  #8b50a4,
  #c55c1d,
  #54640d,
  #f51361,
  #aa9872
);

@each $line-color in $line-colors {
  $i: index($line-colors, $line-color);
  #line#{$i} {
    background-color: $line-color;
  }
}

.board-wrap__lines {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 80px;
  text-align: center;
  margin: 50px 100px;

  &__li {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    // background-color: royalblue;
    font-size: 20px;
    &__text {
      display: block;
      font-size: 12px;
    }
  }
}

.board-wrap__bet {
  //   outline: sandybrown solid;
  height: 200px;
  text-align: center;
  font-size: 20px;
  padding: 40px 20px;

  &__title {
    padding: 0px 20px;
    font-size: 25px;
  }

  &__input {
    width: 300px;
    height: 50px;
    font-size: 20px;
    margin: 0px 30px;
  }

  &__btn {
    height: 50px;
    width: 100px;
    margin: 0px 30px;
    font-size: 20px;
  }

  &__text {
    display: block;
    height: 100px;
    // outline: springgreen solid;
    padding: 35px;
    font-size: 25px;
    color: thistle;
  }
}

.board-wrap__start {
  &__btn {
    height: 60px;
    width: 200px;
    margin: 0px 250px;
    font-size: 20px;
  }
}
