// 로그인(메인) / 회원가입 : wrapper (전체 Wrapper)
.auth__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}


// 로그인(메인) / 회원가입 : content
.auth__content {    
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;    
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;

    h2 {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        display: inline-block;
        margin: 40px 8px 10px 8px;
        color: #cccccc;
    }
}

// 로그인(메인) / 회원가입 : content -> form
.auth__content__form {
    input[type='button'],
    input[type='submit'],
    input[type='reset'] {
        background-color: #56baed;
        border: none;
        color: white;
        padding: 15px 80px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 13px;    
        box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);    
        border-radius: 5px 5px 5px 5px;
        margin: 5px 20px 40px 20px;
        transition: all 0.3s ease-in-out;
    }
    
    input[type='button']:hover,
    input[type='submit']:hover,
    input[type='reset']:hover {
        background-color: #39ace7;
    }
    
    input[type='button']:active,
    input[type='submit']:active,
    input[type='reset']:active {
        transform: scale(0.95);
    }
    
    input[type='text'], input[type='password'] {
        background-color: #f6f6f6;
        border: none;
        color: #0d0d0d;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        width: 85%;
        border: 2px solid #f6f6f6; 
        transition: all 0.5s ease-in-out; 
        border-radius: 5px 5px 5px 5px;
    }
    
    input[type='text']:focus {
        background-color: #fff;
        border-bottom: 2px solid #5fbae9;
    }
    
    input[type='text']:placeholder {
        color: #cccccc;
    }
}

// 로그인(메인) / 회원가입 : footer
.auth__footer {
    background-color: #f6f6f6;    
    padding: 5px;
    text-align: center;
    border-radius: 10px;

    a {
        color: #92badd;
        display: inline-block;
        text-decoration: none;
        font-weight: 400;
    }

    a:after {
        display: block;
        left: 0;
        bottom: -10px;
        width: 0;
        height: 2px;
        background-color: #56baed;
        content: '';
        transition: width 0.2s;
    }

    a:hover {
        color: #0d0d0d;
    }
    
    a:hover:after {
        width: 100%;
    }    
}
